%table#scores
  %tr.header-row
    %td Question
    %td Median
    %td Bar Plot of Percentages
  - Scores::ALL_KEYS.each do |key|
    - if scores[key]
      %tr{:class => 'even-row'}
        %td.question= Scores.expand_question(key)
        %td.median= scores[key][:median]
        %td.bar-plot
          %img{:src => scores.google_charts_url(key), :alt => "Scores: #{scores[key][:scores].join(',')}", :title => "Scores: #{scores[key][:scores].join(', ')}"}
        