#instructors-search.center
  .search-box.span-10.prepend-5.append-5
    = render :partial => 'searches/instructors_form'
  .results.span-20
    - unless @instructors
      %p No results found.
    - else  
      = render(:partial => 'list')
      