%h1= @instructor_name

= render :partial => "evaluations/average_ratings"

= render :partial => "evaluations/evaluations", :object => @evaluations

= link_to "Back to all instructors", instructors_path