#instructor-page.center
  %h2= @instructor.human_name
  = render :partial => "evaluations/average_ratings"
  = render :partial => "evaluations/evaluations"
  %p= link_to "Back to home page", root_path