%h2.center
  Statistics for 
  %span.highlight-box= @instructor.human_name
-# %h3.center
  An instructor in the 
  %span.highlight-box= @department_abbrevs
  department
.average-ratings
  = render :partial => "evaluations/average_ratings"
.evaluations
  - unless @evaluations
    %p No evaluations on record.
  - else
    = render(:partial => 'evaluations/evaluations')
  