/* COLORS (split complimentary from http://www.colorsontheweb.com/colorwizard.asp)
#6EC0FF main blue
#6E8FFF lavender
#FF6E77 pink
#FFF56E yellow
*/

body {
  background: #6EC0FF;
  color: #000;
}

a { color: #000; }
a:visited { color: #444; }
a:hover { color: #fff; background-color:#000; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

div.border {
  border-right:1px solid #333;
}

fieldset {
  border:1px solid black;
  background: #FFF56E;
}

legend {
  border: 1px inset black;
  padding: 0.5em;
  background: #6E8FFF;
  color: #fff;
}

hr {
  background: #000;
  color: #000;
}

.button {
  background: #6E8FFF;
  border: 1px solid black;
}


/* HEADER AND FOOTER */
#header {
  font-variant: small-caps;
}
#nav a {
  font-size: 130%;
}
#footer {
}


/* TABLES */
table {
  border: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  background: #888;
}

td {
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

td .median {
  font-weight: bold;
}

.header-row {
  color: #fff;
  background: #FF6E77;
  font-family: Times, "Times New Roman", serif;
  font-size: 125%;
}

.even-row {
  background: #fff;
}

.odd-row {
  background: #bbb;
}

/* Numbers presented in a purple box. */
.highlight-box {
  border: 1px solid black;
  padding: 0.2em;
  color: #fff;
  background: #6E8FFF;
}
