#course_title-page.center
  %h2= "Statistics for #{@course.human_name}"
  = render :partial => "evaluations/average_ratings"
  .evaluations.span-20
    - unless @evaluations
      %p No evaluations on record.
    - else
      = render(:partial => 'evaluations/evaluations')