%h2.heading Listing all departments

%table#departments-list
  %tr.header-row
    %td Department Abbreviation
    - @departments.each do |department|
      %tr{:class => cycle('even-row','odd-row')}
        %td= link_to(department, department_path(department))