%h1 Listing departments

%table#departments-list
  %tr.header-row
    %td Department Abbreviation
    - @departments.each do |department|
      %tr{:class => cycle('even-row','odd-row')}
        %td= department