#department-page.span-12.prepend-6.append-6.center
  %h2= "Statistics for the #{@department_abbrev} department"
  = render :partial => "evaluations/average_ratings"
  = link_to "See all evaluations for this department", department_evaluations_path(@department)