- form_tag(course_titles_path, :method => 'get') do
  %fieldset
    %legend Course search
    %p
      Enter both the department and number of a course
      %br
      (e.g. "PSYCH 305")
    - value = params[:search]
    = text_field_tag(:search, value)
    = submit_tag('Search', :name => nil, :class => 'button')
    