- form_tag(instructors_path, :method => 'get') do
  %fieldset
    %legend Instructor Search
    %p
      The full name is best, but any partial name will do.
      %br
      (e.g. "Stuart Reges", "Reges", or "Stu")
    - value = params[:search]
    = text_field_tag(:search, value)
    = submit_tag('Search', :name => nil, :class => 'button')
    